---
---

@import "{{ site.theme }}";

header p { width: 50%; }
header {
    padding: 15px 15px 5px 15px;
}

header div.menu_items {
    padding-top: 10px;
}

header div.menu_items a {
    padding-right: 30px;
    text-decoration: none;
    font-weight: bold;
}

div.wrapper { width: 80%; }
